<div>
	<div class="row">
		<div class="col-md-12">
			<form action="/Employee/Create" method="post">
				<div class="form-group">
					<label for="Name" class="control-label">Name:</label>
					<input name="Name" id="Name" class="form-control" />
				</div>
				<div class="form-group">
					<label for="Address" class="control-label">Address:</label>
					<input name="Address" id="Address" class="form-control" />
				</div>
				<div class="form-group">
					<label for="Salary" class="control-label">Salary:</label>
					<input name="Salary" id="Salary" type="number" step="0.01" class="form-control" />
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a href="/Employee/Index"> Back to Index</a>
	</div>
</div>